<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>X-IFL-API-Key</key>
	<string>KWruoFzyTHSJoROYXIFN8XMJ1sKuvbNh7A7ZS5xmRPVaIv5iXJ</string>
	<key>X-Mashape-Key</key>
	<string>WOHjrTgcS7mshaocg3WN1kKhSGn1p1Hpk0UjsncivjfU3T6632</string>
</dict>
</plist>
